<h2>🛒 Carrito</h2>

<div *ngIf="cartService.items().length === 0">
  El carrito está vacío
</div>

<div *ngFor="let item of cartService.items()">

  <h4>{{ item.name }}</h4>

  <p>Precio: {{ item.price }}</p>

  <div>

    <button (click)="cartService.decrease(item.id)">-</button>

    {{ item.quantity }}

    <button (click)="cartService.increase(item.id)">+</button>

  </div>

  <button (click)="cartService.remove(item.id)">
    ❌ Eliminar
  </button>

  <hr>

</div>

<h3>Total: {{ cartService.total() }}</h3>

<button (click)="checkout()">
  Comprar
</button>

<button (click)="cartService.clearCart()">
  Vaciar carrito
</button>